.card-body{
  display: flex;
}
.item1{
  padding-top: 5%;
}
.item2{
  max-width: 100%;
  padding-left: 3%;
  padding-right: 5%;
  font-family: Raleway;
}
.item3{
  padding-left: 5%;
}
.item4{
  display: inline-block;
  right: 0;
  position: sticky;
  margin-left: auto;
  order: 2;
}
.avatar{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
}
.hoverable {
  position: relative;
  display: block;
  height: 150px;
  width: 150px;
  border: 0.05px solid #ccd0ce;
  border-radius: 50%;
}
.title {
  font-family: Raleway;
  font-size: 0.8cm;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  font-weight: bolder
}
.btn {
  background-color: #FFFFFF;
  border: none;
  color: #b0b0b0;
  padding: 12px 16px;
  font-size: 16px;
}
.btn:hover {
  color: #1d1d1d;
}
.buttonTag{
  display: inline-flex;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  size: 20px;
}
.button {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Raleway;
  background-color: #e7e7e7;
  color: black;
  border-radius: 10%;
  border: 25mm none;
}



