::ng-deep .card{
  width: 100%;
  border-radius: 10px !important;
}
::ng-deep .mat-card-content{
  max-height: 700px !important;
  min-height: 700px !important;
  overflow: scroll;
  overflow-x: hidden;
  background: rgba(251, 255, 253, 0);
  border-radius: 10px !important;
  width: 100%;

}
.containerOutCard{
  padding-top: 4%;
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::placeholder {
  color: #dcdcdc;
  opacity: 1;
  font-size: 18px;
}
.title{
  font-family: Raleway;
  font-size: 1cm;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  font-weight: bolder;
}

.avatar{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
}
.hoverable{
  position: relative;
  display: block;
  height: 150px;
  width: 150px;
  border: 0.05px solid #ccd0ce;
  border-radius: 50%;
}
.item1{
  padding-top: 5%;
}
.item2{
  padding-left: 3%;
  font-family: Raleway;
}
.item3{
  padding-left: 5%;
}
.item4{
  display: inline-block;
  position: absolute;
  right: 0;
}
.card-body{
  display: flex;
}
.hr{
  height: 1px;
  background-color: #f2f2f2;
  border: none;
}

.form-control{
  background-color: transparent;
  color: #1d1d1d;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #e1e5e3 1px;
  padding: 3px 10px;
  width: 99%;
  height: 40px;
  font-size: 20px;
  font-family: Raleway;
}
.form-control[type=text]:focus{
  border-color: #1d1d1d;

}
.SearchTag{
  background-color: transparent;
  color: #1d1d1d;
  outline: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #e1e5e3 1px;
  padding: 3px 10px;
  height: 40px;
  font-size: 20px;
  font-family: Raleway;
  width: 99%;

}
.SearchTag[type=text]:focus{
  border-color: #1d1d1d;
}

.collapsible {
  background-color: #fbfffd;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #555;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.form-group{
  position: sticky;
  top: 2px;
}
.element{
  position: relative;
  top: 50%;
}
.searchBoxes{
  padding-bottom: 1%;
}
